
body {
  font-family: Arial, sans-serif;
  background:#111827;
  color:white;
  text-align:center;
}
input, button {
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
}
.big {
  font-size:64px;
  margin:20px;
}
.hidden { display:none; }
.timer {
  background:#1f2933;
  padding:10px;
  margin:10px;
  border-radius:10px;
}